@import "tailwindcss";

/* work-sans-latin-wght-normal */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(@fontsource-variable/work-sans/files/work-sans-latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

:root {
  --background-rgb: 15, 23, 42;
  --foreground-rgb: 255, 255, 255;
}

body {
  background: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
  font-family: "Work Sans", sans-serif;
}

.sidebar {
  @apply relative lg:sticky lg:top-8 z-10;
}

.sidebar::before {
  @apply absolute inset-0 -z-10 rounded-3xl border border-slate-100/20 bg-slate-200/10 backdrop-blur-md;
  content: "";
}

.glass-container {
  z-index: 10;
  position: relative;
}

.glass-container::before {
  @apply absolute inset-0 -z-10 rounded-3xl border border-slate-100/20 bg-slate-200/10 backdrop-blur-md;
  content: "";
}

.link-body {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.link-body.expand {
  height: calc-size(auto);
}

.contact-input {
  @apply flex flex-col;
}
.contact-bordered {
  @apply border-slate-100/50;
}

/* from daisy ui css */
.input {
    flex-shrink: 1;
    appearance: none;
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    line-height: 2;
    line-height: 1.5rem;
    border-radius: 0.5rem;
    border-width: 1px;
    --tw-bg-opacity: 1;
}
.input input {
    --tw-bg-opacity: 1;
    background-color: transparent
}
.input input:focus {
    outline: 2px solid transparent;
    outline-offset: 2px
}
.input[list]::-webkit-calendar-picker-indicator {
    line-height: 1em
}

.input:focus,
  .input:focus-within {
    @apply border-amber-300 outline-amber-300;
    box-shadow: none;
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 2px;
}

.select {
    display: inline-flex;
    cursor: pointer;
    -webkit-user-select: none;
            user-select: none;
    appearance: none;
    height: 3rem;
    min-height: 3rem;
    padding-inline-start: 1rem;
    padding-inline-end: 2.5rem;
    font-size: 1rem;
    line-height: 1.25rem;
    line-height: 2;
    border-radius: var(--rounded-btn, 0.5rem);
    border-width: 1px;
    --tw-bg-opacity: 1;
    background-color: var(--fallback-b1,oklch(var(--b1)/var(--tw-bg-opacity)));
    background-image: linear-gradient(45deg, transparent 50%, currentColor 50%),
    linear-gradient(135deg, currentColor 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(1px + 50%),
    calc(100% - 16.1px) calc(1px + 50%);
    background-size: 4px 4px,
    4px 4px;
    background-repeat: no-repeat}
.select[multiple] {
    height: auto}
.select:focus {
    @apply border-amber-300 outline-amber-300;
    box-shadow: none;
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 2px;
}
.textarea {
    min-height: 3rem;
    flex-shrink: 1;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1rem;
    line-height: 1.25rem;
    line-height: 2;
    border-radius: var(--rounded-btn, 0.5rem);
    border-width: 1px;
    --tw-bg-opacity: 1;
    background-color: var(--fallback-b1,oklch(var(--b1)/var(--tw-bg-opacity)))}

.textarea:focus {
    @apply border-amber-300 outline-amber-300;
    box-shadow: none;
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 2px;
}
.label {
  display: flex;
  -webkit-user-select: none;
          user-select: none;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem}

.label-text {
    font-size: 0.875rem;
    line-height: 1.25rem;
    --tw-text-opacity: 1;
    color: var(--fallback-bc,oklch(var(--bc)/var(--tw-text-opacity)))}
